body {
    background-color: #CEB3AB;
    margin: 20px;
    padding: 0;
    text-align: center;
}

/* Every container will have border characteristic below */
.border{
    border: 5px outset #466365;
}

header {
    background-color:#03B5AA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.nav {
    overflow: hidden;
}

/* Every nav a element will have the following characteristics */
nav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: Brush Script MT;
}

/* When hovering over nav bar buttons, background color will turn white-ish color and text will be black */
nav a:hover {
    background-color: #ddd;
    color: black;
}

/* Nav button that has active class will have different background and text color than the others */
nav a.active {
    background-color: #721121;
    color: mintcream;
}  

.hero {
    background-color: rgb(24, 24, 24);
    background-image: url('./assets/images/dark-flowers.jpg'); 
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
    min-height: 80vh;
    color: #DBFE87;
    text-align: center;
    font-size: 25px;
}

h1 {
    font-size: 40px;
    font-family: 'Trebuchet MS';
    text-decoration: underline;
}

main{
    margin: 10px;
}

.image-grid {
    max-width: 40%;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 10px;
}

.comingSoon {
    display: inline;
}

img {
    max-width: 100%;
    max-height: 100%;
}


.bio, .image-grid{
    padding: 10px;
    background-color: mintcream;
}

.connect{
    padding: 10px; 
    text-align: center;
    background-color: #DBFE87;
    max-width: 30%;
    margin: 0 auto;
    justify-content: center;
    resize: both;
    overflow: hidden;
}

/* What the application will respond to when screen size is below 440px */
@media (max-width: 440px) {
    .header {
        flex-wrap: wrap;
    }
    .hero {
        min-height: 30vh;
        font-size: 80%;
        max-width: 100%;
        max-height: 100%;    
    }
    .connect {
        max-width: fit-content;
    }
    .image-grid {
        max-width: fit-content;
    }
}
