:root {
    --dutchWhite: #DDD8B8;
    --cambridgeBlue: #B3CBB9;
    --pewterBlue: #84A9C0;
    --darkBlueGray: #6A66A3;
    --cyberGrape: #4b3f72;
    --maxYellowRed: #FFC857;
    --spaceCadet: #1F2041;
    --lavenderBlue: #E3DAFF;
}

body {
    background-color: var(--spaceCadet);
    text-align: center;
}

/* Nav bar styling */
#topNav {
    overflow: hidden;
    width: 100%;
    height: 5rem;
    padding: 1rem;
    background-color: var(--cyberGrape);
}

nav a {
    color: var(--maxYellowRed);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 2rem;
    font-family: 'Noto Sans Mono', monospace;
}

nav a:hover {
    background-color: var(--dutchWhite);
    color: var(--cyberGrape);
}

/* About me styling */
.hero {
    background-color: var(--cambridgeBlue);
    color: var(--cyberGrape);
    text-align: center;
    font-size: 25px;
    padding: 1rem;
}

.name {
    font-family: 'Noto Sans Mono', monospace;
    font-size: 3rem;
}

#profile {
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
}

.card {
    margin: 2rem;
    background-color: var(--cyberGrape);
    color: var(--maxYellowRed);
    font-family: 'Noto Sans Mono', monospace;
}

/* Styling for work showcase */
#work {
    font-family: 'Noto Sans Mono', monospace;
}

.image-grid {
    margin: 0 auto;
    overflow: hidden;
    background-color: var(--pewterBlue);
}

.image-grid p {
    max-width: 60%;
    margin: 0 auto;
}

.otherWork {
    display: inline;
    font-family: 'Noto Sans Mono', monospace;
}

img {
    max-width: 100%;
    max-height: 100%;
    border: 2px solid var(--cyberGrape);
}


.bio,
.image-grid {
    padding: 10px;
    background-color: var(--lavenderBlue);
}

.connect {
    padding: 10px;
    text-align: center;
    background-color: var(--maxYellowRed);
    font-family: 'Noto Sans Mono', monospace;
    max-width: 30%;
    margin: 2rem auto;
    justify-content: center;
    resize: both;
    overflow: hidden;
}

/* What the application will respond to when screen size is below 440px */
/* @media (max-width: 440px) {
    .header {
        flex-wrap: wrap;
    }

    .hero {
        min-height: 30vh;
        font-size: 80%;
        max-width: 100%;
        max-height: 100%;
    }

    .connect {
        max-width: fit-content;
    }

    .image-grid {
        max-width: fit-content;
    }
} */